<script>	
$(function(){
		var unsaved_changes = {};
		var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
				// Bit of a hack - right now you have to render a csrf_token somewhere on the requesting page.  
				// Eventually this oughta be replaced by a templatetag
		data = {{data}};
		sprd_tbl = new Handsontable($('#{{key}}dj_sprd_tbl')[0], {
			data: data,
			colHeaders: {{headers}},
			minSpareRows: 1,
			afterChange: function (change, source){
					if(change!=null){
							$('#{{key}}_statusbar').html("Unsaved changes...");
						console.log(change);
						for(row in change){
							row_num = change[row][0];
							dat = sprd_tbl.getDataAtRow(row_num);
							var vald = {};
							for(var i = 0; i<dat.length; i++){
									vald[{{raw_headers}}[i]] = dat[i];
							}
							unsaved_changes[dat[0]] = vald;
						}
						console.log(unsaved_changes);
					}
			}
		});


		$('#{{key}}save_button').on('click', function(){
				$.ajax({
						url: '{{ajax_save_url}}',
						type: 'POST',
						data: {
								'changes':JSON.stringify(unsaved_changes),
								'csrfmiddlewaretoken':csrf_token
						},
						success: function(response){
								$('#{{key}}_statusbar').html("All changes saved...");
						},
						error: function(response){
								console.log("didn't work");
						}
				});
		});
});
</script>
<div class="container-fluid">
		<div id="{{key}}actionbar" class="row">
				<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 
								File 
								<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
								<li id="{{key}}save_button"> <a href="#"> Save </a> </li>
						</ul>
				</div>
				<span id="{{key}}_statusbar"> </span>
		</div>
		<div id="{{key}}dj_sprd_tbl" class="row">
		</div>
</div>


